/*====== CSS Reset ======*/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*======== Fonts ========*/

/* dm-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./Fonts/dm-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./Fonts/dm-sans-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /*= Custom Properties =*/

  :root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --stone: hsl(55 20% 92%);
  }
  /*===============================*/
  /*======== Mobile styles ========*/
  /*===============================*/

  body {
    height: 100vh;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--stone); /* revisit */
    }

  .grid-container {
    display: grid;
    margin: 2rem auto;
    max-width: 90%;
    align-items: center;
    gap: 2rem;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
  }

  .all-cards {
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  /*======== Card-1 ========*/

  .card-1 {
    grid-area: one;
    background-color: var(--purple-500);
    color: var(--white);
    text-align: center;
    padding: 2em;
  }

  .card-1 h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  h1 span:nth-of-type(1) {
    color: var(--yellow-500);
  }

  h1 span:nth-of-type(2) {
    font-style: italic;
  }

  .card-1 img {
    width: 70%;
    margin: 1em 0 0 0;
  }
  
  /*======== Card-2 ========*/

  .card-2 {
    grid-area: two;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--white);
  } /* address shadow on image */

  .card-2 h2 {
    font-size: 1.35rem;
    margin-top: 0.5em;
  }

  /*======== Card-3 ========*/

  .card-3 {
    grid-area: three;
    background-color: var(--yellow-500);
  }

  .card-3 img {
    width: 70%;
    margin: 1em 0 -2.5em;
  }

  /*======== Card-4 ========*/

  .card-4 {
    grid-area: four;
    background-color: var(--purple-100);
    text-align: center;
  }

  .card-4 h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
  }

  .card-4 img {
    width: 100%;
  }

  .card-4 p {
    font-size: 1.2rem;
    padding: 0 0.3em;
    margin: 1em 0;
  }

   /*======== Card-5 ========*/

   .card-5 {
    grid-area: five;
    background-color: var(--purple-500);
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
   }

   .card-5 h2 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 1em 1.3em 0.3em 1.3em;
   }

   .card-5 img {
    width: 70%;
    margin: 0.5em auto 0.3em;
   }

   /*======== Card-6 ========*/

   .card-6 {
    grid-area: six;
    background-color: var(--white);
    padding: 1.3em;
   }

   .card-6 h2 {
    font-size: 2.6rem;
    margin-bottom: 0.1em;
   }

   .card-6 p {
    font-size: 1.1rem;
    margin-bottom: 0.9em;
   }

   .card-6 img {
    width: 60%;
   }

   /*======== Card-7 ========*/

   .card-7 {
    grid-area: seven;
    background-color: var(--yellow-100);
    padding: 1.8em 1.8em 1.4em 1.8em;
   }

   .card-7 h2 {
    font-size: 1.7rem;
    margin-bottom: 1em;
    line-height: 1.7rem;
   }

   .card-7 h2 span {
    color: var(--purple-500);
    font-style: italic;
   }

   .card-7 img {
    width: 67.5%;
   }

   /*======== Card-8 ========*/

   .card-8 {
    grid-area: eight;
    background-color: var(--yellow-500);
    padding: 1.2em 1.2em 1.2em 1.8em;
   }

   .card-8 h2{
    font-size: 1.7rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.8em;
   }

   .card-8 img {
    width: 72.5%;
   }

  /*===============================*/
  /*======== Media queries ========*/
  /*===============================*/

  @media screen and (min-width: 960px) {
    .grid-container {

    max-width: 80%;
    max-height: 90%;

    grid-template-areas: 
    "seven one one four"
    "seven two three four"
    "eight two three four"
    "eight six five five";
  } 

  .all-cards {
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
  }
  /*======== Card-1 ========*/
  .card-1 {
    padding: 1em;
  }
  .card-1 h1 {
    font-size: 2.8rem;
    font-weight: 400;
    padding: 0.9em 0 0.1em 0;
    text-wrap: balance;
  }

  .card-1 img {
    width: 30%;
  }

  .card-1 p {
    margin-bottom: 1.8em;
  }


  /*======== Card-2 ========*/

  .card-2 {
    padding: 2.1em 1em 2.9em;
  }
  .card-2 h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1.5rem;
    padding-right: 1.5em;
    margin-top: 0.75em;
  }

  .card-2 img {
    width: 147.5%;
  }


  /*======== Card-3 ========*/

  .card-3 {
    overflow: hidden;
    padding-top: 3.5em;
  }

  .card-3 h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1.5rem;
    padding-right: 2.5em;
    margin-bottom: 1.5em;
  }

  .card-3 img {
    display: block;
    margin: 1em auto -4.6em;
    width: 95%;
  }


  /*======== Card-4 ========*/
  .card-4 {
    text-align: left;
    padding: 1.5em 1em 1.5em 1.5em;
  }
  .card-4 h2{
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1.4rem;
  }

  .card-4 p {
    font-size: 1.1rem;
  }

  .card-4 img {
    width: 170%;
    margin: 0;
  }


  /*======== Card-5 ========*/

  .card-5 {
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    gap: 2em;;
  }

  .card-5 h2 {
    font-size: 2.3rem;
    line-height: 2rem;;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 0.5em;
  }

  .card-5 img {
    width: 40%;
    margin: 0;
  }



  /*======== Card-6 ========*/

  .card-6 h2 {
    font-size: 2.8rem;
  }

  .card-6 p {
    font-size: 1rem;
    margin-bottom: 2em;;
  }

  /*======== Card-7 ========*/

  .card-7 {
    padding: 5.5em 0;
  }

  .card-7 h2{
    font-size: 2.3rem;
    line-height: 2rem;;
    font-weight: 400;
    letter-spacing: -2px;
    padding: 0 1em;
  }


  .card-7 img {
    display: block;
    margin: 0 auto;
  }

  

  /*======== Card-8 ========*/

  .card-8 {
  }

  .card-8 h2{
    font-size: 2.3rem;
    line-height: 2rem;;
    font-weight: 400;
    letter-spacing: -2px;
    margin-bottom: 1em;
  }
  
  .card-8 img {
    display: block;
    margin: auto;
    width: 85%;
  }
}
